name: test

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
      - name: yarn install
        run: |
          corepack enable
          yarn install --immutable
      - name: Run eslint
        run: yarn lint
